<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CertMinder</title>
        <style type="text/css">
            body {
                font-family: sans-serif;
                font-size: 16px;
                line-height: 150%;
                margin: 0;
                padding: 0;
                overflow-y: scroll;
            }

            header {
                background-color: #000;
                color: #fff;
                margin: 0;
                padding: 1.0em;
            }
            main {
                margin: 5.0em auto;
            }
            footer {
                border-top: 1px dotted #000;
                margin: 0 auto;
                width: 50.0em;
            }

            header a,
            header a:visited {
                color: #fff;
                text-decoration: none;
            }
            header h1 {
                display: inline;
                font-size: 200%;
                margin: 0;
                padding: 0;
                padding-left: 10px;
            }
            header h2 {
                display: inline;
                font-size: 120%;
                margin: 0;
                margin-left: 1.0em;
                padding: 0;
                padding-right: 10px;
            }

            main a,
            main a:visited {
                border-bottom: 1px dotted #000;
                color: #000;
                text-decoration: none;
            }
            main table {
                border: 1px solid #000;
                border-collapse: separate;
                border-radius: 0.25em;
                border-spacing: 0.1em;
                margin: 0 auto;
                padding: 0.5em;
            }
            main table thead:before {
                content: '';
                display: block;
                margin-top: 0.25em;
            }
            main table thead th {
                border-bottom: 3px double #000;
                min-width: 6.0em;
                text-align: center;
            }
            main table thead:after {
                content: '';
                display: block;
                margin-top: 0.25em;
            }
            main table tbody td {
                min-width: 6.0em;
                overflow: hidden;
                padding: 0.25em;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            main table tbody td.host {
                font-family: monospace;
                text-align: left;
            }
            main table tbody td.port {
                font-family: monospace;
                min-width: 2.0em;
            }
            main table tbody td.status {
                border-width: 2px;
                border-style: solid;
                border-radius: 0.25em;
                font-weight: bold;

                background-color: rgba(146, 131, 116, 0.5);
                border-color: #928374;
                color: #7c6f64;
            }
            main table tbody td.status:hover {
                opacity: 0.75;
            }
            main table tbody td.True {
                background-color: rgba(152, 151, 26, 0.5);
                border-color: #98971a;
                color: #79740e;
            }
            main table tbody td.False {
                background-color: rgba(204, 36, 29, 0.5);
                border-color: #cc241d;
                color: #9d0006;
            }

            footer a,
            footer a:visited {
                border-bottom: 1px dotted #000;
                color: #000;
                text-decoration: none;
            }
            footer p {
                font-size: 0.7em;
                float: right;
                margin: 1.0em;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>CertMinder</h1>
                <h2>– mind your certificates</h2>
            </a>
        </header>
        <main class="index">
            <table>
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Port</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>CName</th>
                        <th>Valid</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for result in results %}
                    <tr>
                        <td class="host">{{ result.host }}</td>
                        <td class="port">{{ result.port }}</td>
                        <td class="status {{ result.start }}">{% if result.start %}OK{% else %}FAIL{% endif %}</td>
                        <td class="status {{ result.end }}">{% if result.end %}OK{% else %}FAIL{% endif %}</td>
                        <td class="status {{ result.name }}">{% if result.name %}OK{% else %}FAIL{% endif %}</td>
                        <td class="status {{ result.valid }}">{% if result.valid %}OK{% else %}FAIL{% endif %}</td>
                    </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </main>
        <footer>
            <p>
                &copy; 2022
                –
                <a href="https://github.com/informatyzacja-sspwr-projekty/CertMinder">CertMinder</a>
                by
                <a href="https://informatyzacja.samorzad.pwr.edu.pl">Komisja ds. Informatyzacji Samorządu Studenckiego PWr</a>
            </p>
        </footer>
    </body>
</html>
